.populardish-container {
  width: 100%;
  height: 92vh;
  padding: 1rem;
  background-color: rgb(250, 250, 250);
}
.wrapper {
  width: 100%;
  max-width: 1080px;
  margin: auto;
}
.heading {
  text-align: center;
}
.heading span {
  color: var(--green);
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: capitalize;
}

.heading h1 {
  color: var(--black);
  text-transform: capitalize;
  font-weight: 700;
  font-size: 2.8rem;
  line-height: 3.2rem;
}
.card-container {
  display: grid;
  grid-template-columns: auto auto auto;
  row-gap: 2.6rem;
  column-gap: 4rem;
  margin-top: 1rem;
  justify-content: center;
}
.food-card {
  width: 280px;
  height: 310px;
  background-color: white;
  border-radius: 0.4rem;
  box-shadow: 5px 4px 15px -1px rgb(0 0 0 / 20%);
  position: relative;
}
.card-img {
  width: 100%;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60%;
}
.card-img img {
  height: 80%;
}
.details-wrapper {
  width: 100%;
  height: 30%;
  padding: 0 0.4rem;
}

.heading-rating {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.food-name h3 {
  font-size: 1.3rem;
  color: var(--black);
  font-weight: 700;
}
.food-info p {
  color: var(--light-color);
  font-size: 0.8rem;
  padding: 0.1rem 0;
}
.price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.7rem;
}

.price span {
  color: var(--green);
  font-size: 1.1rem;
  font-weight: 700;
}

.favourite-icon {
  position: absolute;
  top: 2%;
  right: 3%;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: var(--black);
}

.favourite-icon:hover {
  background-color: var(--green);
  color: #fff;
}

@media only screen and (max-width: 420px) {
  .card-container {
    display: grid;
    grid-template-columns: auto;
    row-gap: 2.6rem;
  }
  .food-card {
    width: 85%;
    margin: auto;
  }
}
